
<h1>Все автомобили</h1>
<h2>@Model.currCategory</h2>
@{
    foreach (var car in Model.allCars)
    {
        <div>
            <h3>Модель: @car.name</h3>
            <p>Цена: @car.price.ToString("c")</p>
        </div>
    }
}